@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header {
}

.top {
    display: none;
    text-align: center;
    width: 120px;
    height: 40px;
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 10px;
}

.header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    background: #F4F5F8;
}

.place {
    margin-right: 107px;
    display: inline-flex;
    gap: 4px;
}

.place > p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #36383F;
}

.info__nav {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-right: 75px;
}

.info__nav > p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #6E7284;
}

.info__nav > .color__orange {
    font-weight: 600;
    color: #F04716;
}

.number {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    justify-content: center;
}

.number > span {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #36383F;
    text-align: center;
}

.number > .call__text {
    font-size: 13px;
    line-height: 16px;
    color: #4788FF;
    margin-left: 14px;
}

.head__search {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    column-gap: 134px;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 14px;
    width: 518px;
    padding: 11px;
    background: #FFFFFF;
    border: 1px solid #DEDFE7;
    border-radius: 12px;
}

.search__input {
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6E7284;
}

.search-box:hover {
    border: 1px solid #4788FF;
}

.search__input:focus{
    color: black;
    }

.head__searching {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.favorite {
    background-image: url(./IMG/favorite.png);
    border: 0px solid #DEDFE7;
    border-radius: 12px;
    width: 46px;
    height: 46px;
}

.favorite:hover{
     background-image: url(./IMG/favorite_hover.png) ;
}

.comparison {
    background-image: url(./IMG/comparison.png);
    border: 0px solid #DEDFE7;
    border-radius: 12px;
    width: 46px;
    height: 46px;
}

.comparison:hover{
    background-image: url(./IMG/comparison_hover.png) ;
}

.basket {
    padding: 8px 17px 8px 12px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #DEDFE7;
    border-radius: 12px;
}

.img__basket {
    background-image: url(./IMG/basket.png);
    width: 22px;
    height: 19px;
}

.info__basket{
    display: block;
}

.basket__quantity {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #6E7284;
}

.basket__price {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;
    color: #A3A6B2;
}

.basket:hover {
    background: #0A4ECB;
} 

.basket:hover > .img__basket {
    background-image: url(./IMG/basket_hover.png);
}

.basket:hover > .info__basket > .basket__quantity {
    color: #FFFFFF;
}

.basket:hover > .info__basket > .basket__price {
    color: #FFC62F;
}

.header__nav {
    background-color: #0A4ECB;
    display: flex;
    flex-direction: row;
    column-gap: 78.5px;
    align-items: center;
    justify-content: center;
}

.droplist__block {
    padding: 18px 30px;
    background: #04358F;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.droplist__block > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


.categories {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}

.categories > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.discount__txt {
    display: inline-flex;
}

.discount__txt > img {
    object-fit: contain;
}

.discount__txt > p {
    margin-left: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFA2F;
}

.main__page {
    padding-top: 20px;
    background: #F4F5F8;  
    padding-bottom: 100px;
}

.main__page__info {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(2, 230px);
}

.shwed__walls__info {
    background-image: url(./IMG/Shwed__walls.png);
    padding: 60px 247px 90px 50px;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 12px;
}

.shwed__walls__info > h1 {
    width: 483px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    background: linear-gradient(90deg, #0A4ECB 0%, #4788FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.shwed__walls__info > p {
    margin-top: 18px;
    width: 440px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #36383F;
}

.btn__Designer {
    margin-top: 36px;
    padding: 20px 36px;
    width: 262px;
    height: 58px;
    background: linear-gradient(90deg, #F04716 0%, #FFC62F 100%);
    border-radius: 12px;
    border: 0px;
}

.btn__Designer > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.clothing__manufacture {
    padding: 30px 100px 30px 30px;
    background: url(./IMG/clothing_manufacture.png) no-repeat;
    grid-column: 3/4;
    grid-row: 1/2;
}

.clothing__manufacture > h1 {
    width: 250px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #36383F;
}

.clothing__manufacture > p {
    margin-top: 20px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 137px;
    color: #36383F;
}

.more__link {
    cursor: pointer;
    white-space: pre;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #0A4ECB;
}

.show__room {
    padding: 30px 100px 30px 30px;
    background: url(./IMG/show_room.png) no-repeat;
    grid-column: 3/4;
    grid-row: 2/3;
}

.show__room > h1 {
    width: 250px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #36383F;
}

.show__room > p {
    width: 225px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #36383F;
    margin-bottom: 60px;
}

.storage__space {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.products {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.Name_of_blocks {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    color: #36383F;
}

.wraper {
    overflow: hidden;
    height: 524px;
    width: 1180px;
    background: none;
    
}

.item__row {
    transition: all ease 1s;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.item__row_sport {
    transition: all ease 1s;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.item__row__weights {
    transition: all ease 1s;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

.wrapper_tu {
    overflow: hidden;
    height: 400px;
    width: 1182px;
    background: none;
}

.wrapper_three {
    overflow: hidden;
    height: 400px;
    width: 1182px;
    background: none;
}

#arrow-left {
    cursor: pointer;
}

#arrow-right {
    cursor: pointer;
}

#arrow-left-sport{
    cursor: pointer;
}

#arrow-right-sport{
    cursor: pointer;
}


#arrow-left-weights{
    cursor: pointer;
}

#arrow-right-weights{
    cursor: pointer;
}

.product__item {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    display: block;
    align-items: center;
    transition: 2s;
}

.product__item > figcaption {
    margin-top: 10px;
    width: 240px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #36383F;
}

.price {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.commodity_price {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #36383F;
}

.add__to__cart {
    background: url(./IMG/add-static.png);
    width: 46px;
    height: 46px;
}

.price_sale {
    margin-top: 28px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price_align_top {
    align-items: flex-start;
}

.add__to__cart_sale {
    background: url(./IMG/add-static.png);
    width: 46px;
    height: 46px;
    align-self: flex-end;
}

.old_price {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-decoration-line: line-through;
    color: #A3A6B2;
}

.new_price {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #F04716;
}

.product__item:hover > figcaption {
    color: #0A4ECB;
}

.product__item:hover {
    box-shadow: 0px 15px 25px rgba(48, 63, 115, 0.15);
}

.add__to__cart:hover {
    background: url(./IMG/add-hover.png);
}

.add__to__cart_sale:hover {
    background: url(./IMG/add-hover.png);
}

.price__v2 {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price_sale__v2 {
    margin-top: 4px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unit_shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_catalog {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
}

.catalog__navigation {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, 230px);
    grid-gap: 20px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 57px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 0px;
    transition: 2s;
}

.catalog__item:hover {
    box-shadow: 0px 15px 25px rgba(48, 63, 115, 0.15);
    transform: scale(1.05);
}

.catalog__item:hover > .directory__name {
    color: #0A4ECB;
}

.directory__name {
    font-style: normal;
    font-weight: 600;
    width: 167px;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #36383F;
    margin-top: 15px;
}

.About__company {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name__article {
    display: flex;
    flex-direction: row;
    column-gap: 265px;
    align-items: flex-end;
}

.company__specialization > p {
    width: 780px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #36383F;
}   

.more__about__the__company {
    cursor: pointer;
    white-space: pre;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #0A4ECB;
}

.services {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}

.services__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 39px 20px 39px 30px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 0px;
}

.services__item > p {
    margin-left: 19px;
    width: 150px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #36383F;
    
}

.foto__and__info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.foto{
    display: block;
}

.big__foto {
    width: 580px;
    height: 389px;
}

.mini__foto {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.info {
    background: white;
    border: 0px;
    border-radius: 12px;
    padding: 30px 30px 30px 42px;
    display: block;
}

.ul__info {
    width: 490px;
    list-style-image: url(./IMG/ul.png);
}

.ul__info > li {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6E7284;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.shipping_and_payment {
    margin-top: 60px;
    padding: 90px 100px 100px 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    border: 0px;
    border-radius: 24px;
}

.shipping {
    display: block;
}

.shipping > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    color: #1D1E22;
}

.shipping > p {
    margin-top: 20px;
    width: 460px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #36383F;
}

.footer {
}

.email {
    padding: 75px 0px;
    background: #0A4ECB;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
    align-items: center;
    justify-content: center;
}

.email__txt {
    display: block;
}

.email__txt > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}

.email__txt > p {
    margin-top: 6px;
    width: 527px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.input_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}

.email__input {
    width: 383px;
    height: 64px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-indent: 30px;
    background: #04358F;
    border-radius: 12px;    
}

.email__input::placeholder {
    color: #DEDFE7;;
}

.email__input:focus{
    color: white;
}

.subscribe {
    cursor: pointer;
    width: 177px;
    height: 64px;
    background: #FFC62F;
    border-radius: 12px;
    border: 0px;
}

.subscribe::placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1D1E22;
}

.footer__nav {
    background: #1D1E22;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.ul__contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__Header {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.ul__footer > li {
    text-align: left;
    margin-bottom: 20px;
    list-style: none;
}

.social__network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__network > img {
    cursor: pointer;
}

.ul__item {
    margin-left: 196px;
    display: block;
}

.ul__item_box {
    display: flex;
    flex-direction: row;
    column-gap: 33px;
}

.ul__item_box > ul {
    margin-left: 12px;
}

.ul__item_box > ul > li {
    margin-bottom: 15px;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

.ul__item_2 {
    margin-left: 132px;
    display: block;
}

.footer__logo{
    padding: 39px 0px;
    display: flex;
    flex-direction: row;
    column-gap: 813px;
    justify-content: center;
    align-items: center;
    background: #111112;
}

.footer__logo > p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #DEDFE7;
}